body {
    width: 98vw;
    transition: 0.5s;
}

@media only screen and (max-width: 800px) {
    #floating {
        display: none !important;
    }
}

#content {
    border: solid black 2px;
    border-style: dotted;
    height: 90vh;
    padding: 0.1vw;
    overflow-y: auto;
}

.ql-editor>* {
    font-size: 20px !important;
    padding: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ql-toolbar {
    background-color: white;
}

.ql-snow {
    .ql-picker {
        &.ql-size {

            .ql-picker-label,
            .ql-picker-item {
                &::before {
                    content: attr(data-value) !important;
                }
            }
        }
    }
}

/* https://stackoverflow.com/users/5551593/andrew in https://stackoverflow.com/questions/38623716/how-to-add-custom-font-sizes-to-quilljs-editor */
.ql-color .ql-picker-options [data-value=custom-color] {
    background: none !important;
    width: 100% !important;
    height: 20px !important;
    text-align: center;
}

/* https://stackoverflow.com/questions/43728080/how-to-add-font-types-on-quill-js-with-toolbar-options */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

.ql-color .ql-picker-options [data-value=custom-color]:before {
    content: 'Custom Color';
}

.ql-color .ql-picker-options [data-value=custom-color]:hover {
    border-color: transparent !important;
}

#floating {
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0.9;
    top: 2px;
    left: 80vw;
    gap: 20px;
    z-index: 5;
}

button {
    padding: 0.5ch;
    border-radius: 5px;
    /* background-color: rgb(240, 248, 255); */
    background-color: rgba(0, 0, 0, 0);
    font-size: 2ch;
    border: solid black 2px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button:hover {
    background-color: rgba(255, 166, 0, 0.404);
}
